@charset "UTF-8";

:root{
    --cor0: rgba(160, 160, 160, 0.367);
    --cor1: white;
    --cor2: blue;
    --cor3: rgb(0, 166, 255);
}
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}
p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.0.5em;
    line-height: 1.5em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), gray);
    text-align: center;
    padding-top:  20px;
}
header > h1{
    color: var(--cor2);
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.345);
}
nav{
    background-color: rgb(102, 101, 101);
    padding: 15px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.333);
}
nav > a{
    color: var(--cor1);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .7s;
}
nav > a:hover{
    background-color: var(--cor0);
    color: rgb(0, 0, 137);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.316);
}
main{
    background-color: var(--cor1);
    margin: auto;
    max-width: 800px;
    min-width: 250px;
    padding: 5px 20px 5px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.421);
    text-align: justify;
}
main > article> picture > img.centro{
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.304);
}
main img:hover{
    transform: scale(1.5);
}
main > article > aside > ul{
    text-align: justify;
}
main h2{
    background-image: linear-gradient(to right, gray, transparent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.322);
    text-indent: 10px;
    color: var(--cor2);
    max-width: 800px;
    min-width: 250px;
}
aside{
    background-color: var(--cor0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}
aside > ul{
    list-style: inside;
}
footer{
    background-color: gray;
    color: var(--cor2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.319);
}
footer > p{
    text-align: center;
}